<script src="https://kit.fontawesome.com/e442689a94.js" crossorigin="anonymous"></script>
<nav class="nav-container">

    <div class="logo-nav-container">
        <a href="/">HOME PAGE</a>
    </div>
    <div class="link-nav-container">
        <a href="/registro.html">Registro de usuarios</a>
        <a href="/login.html">Iniciar sesión</a>
        <a href="/pronto.html">Nosotros</a>
        <a href="/pronto.html">Carrito de compras</a>
    </div>
    <div class="responsive-menu">
        <a ><i  class="fas fa-bars"></i> </a>
    </div>   

</nav>
<nav>
    <div class="link-nav-container-responsive" style="left: -100%;">
        <a href="/registro.html">Registro de usuarios</a>
        <a href="/login.html">Iniciar sesión</a>
        <a href="/pronto.html">Nosotros</a>
        <a href="/pronto.html">Contacto</a>
    </div>

</nav>
