<script src="https://kit.fontawesome.com/e442689a94.js" crossorigin="anonymous"></script>
<nav class="nav-container">
    <div class="logo-nav-container">
        <a href="/">HOME PAGE</a>
    </div>
</nav>



<div class="container">
  <div class="centrar paddd">
    <form class="d-flex">
        <input class="form-control me-2" [formControl]="clave" ng-model="searchText" type="text" placeholder="Palabra clave: amd, gtx, rtx, nvidia" aria-label="Search">
        <button (click) = "busquedaClave()" class="btn btn-outline-success" type="submit">Buscar</button>
        <button (click) = "quitarBusqueda()" class="btn btn-outline-success" type="submit">Quitar</button>
        <button data-bs-target="#exampleModal" data-bs-toggle="modal"class="btn btn-outline-warning" *ngIf="productosCarrito.length==0">Carrito</button>
        <button data-bs-target="#exampleModal" data-bs-toggle="modal"class="btn btn-outline-success" *ngIf="productosCarrito.length>0">Carrito</button>
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="bootstrap-icons.svg#heart-fill"/>
        </svg>
      </form> 
</div> 
</div>


  



    
  <div class="container products">      
    <div *ngFor="let items of productosActual; let i = index; filter : searchText" class="products-content">
        <div class="card"  style="width: 18rem;">
            <div class="imagen">
              <img src="{{items.img}}" class="card-img-top paddd imagen" alt="" >
            </div>
            <div class="card-body">
              <h5 style="text-align: center;" class="card-title">{{items.nombre}}</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Precio:{{items.precio | currency:'CLP'}}</li>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-secondary" (click)="agregarProducto(i)"> Agregar al carrito</button>
                </div>

              </ul>   
            </div>
        </div>
    </div>
  </div> 









  
  <!-- Modal Carrito de compra -->
  <div class="container">    
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header border-bottom-0">
              <h5 class="modal-title" id="exampleModalLabel">Carrito de compra</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <table class="table table-image ">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Producto</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Total</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let p of productosCarrito; let j = index">
                      <td class="w-25">
                        <img src="{{p.img}}" class="img-fluid img-thumbnail" alt="Sheep">
                      </td>
                      <td>{{p.nombre}}</td>
                      <td>{{p.precio}}</td>
                      <td style="width:15%;"><input type="text" class="form-control" [formControl]="cantidad" id="input1" placeholder="{{productosCantidad[j+1].cant}}"></td>
                      <td>{{p.precio*productosCantidad[j+1].cant}}</td>
                      <td>
                        <button (click) = "eliminarProducto(p.codigo)" class="btn btn-danger btn-sm ">
                          <i class="fa fa-times"> x </i>
                        </button> &nbsp;
                        <button (click) = "actualizarProducto(p.codigo)"  href="#" class="btn btn-success btn-sm">
                          <i class="fas fa-sync-alt"> + </i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <th>Total:</th>
                      <td>{{totalDinero | currency:'CLP'}}</td>
                      <td></td>
                  </tr>
                  </tbody>
                </table> 
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button data-bs-dismiss="modal" type="button" (click) = "cofirmarCarrito()" routerLink="../pago" class="btn btn-primary">Pagar</button>
          </div>
      </div>
  </div>
  </div>

</div>    



<footer class="footer-contenedor">
  <p class="mb-1">© 2021 Productos Inteligentes</p>
  <ul class="list-inline">
      <li class="list-inline-item"><a href="">Instagram</a></li>
      <li class="list-inline-item"><a href="">Facebook</a></li>
      <li class="list-inline-item"><a href="">Twitter</a></li>
  </ul>
</footer>
