<script src="https://kit.fontawesome.com/e442689a94.js" crossorigin="anonymous"></script>
<nav class="nav-container">
    <div class="logo-nav-container">
        <a href="/">HOME PAGE</a>
    </div>
</nav>






<footer class="footer-contenedor">
    <p class="mb-1">© 2021 Productos Inteligentes</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="">Instagram</a></li>
        <li class="list-inline-item"><a href="">Facebook</a></li>
        <li class="list-inline-item"><a href="">Twitter</a></li>
    </ul>
  </footer>
  