*{
    font-family: 'Courier New', Courier, monospace;

}


.contenedor-form{
    margin:50px;
    border: solid 1px black;
    border-radius: 15px;
    padding: 40px;
}

.button-container{
    margin: 30px;
}


.container{
    margin-top: 200px;
    padding: 40px;
    background-color: rgb(213, 218, 223);
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 3px 3px black;
}

.bordes{
    border: solid 1px rgb(189, 189, 189);
    padding: 10px;
}